2da_PREGUNTA_cliente/cliente_sw/cliente_sw/Connected Services/BDSW/BD.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mostrar">
        <s:complexType />
      </s:element>
      <s:element name="mostrarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mostrarResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="llenar_grid">
        <s:complexType />
      </s:element>
      <s:element name="llenar_gridResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="llenar_gridResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="agregar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ci" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="carrera" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="agregarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="agregarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ci" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="carrera" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="actualizarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ci" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="eliminarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ci" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscar1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="b" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscar1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscar1Result">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="mostrarSoapIn">
    <wsdl:part name="parameters" element="tns:mostrar" />
  </wsdl:message>
  <wsdl:message name="mostrarSoapOut">
    <wsdl:part name="parameters" element="tns:mostrarResponse" />
  </wsdl:message>
  <wsdl:message name="llenar_gridSoapIn">
    <wsdl:part name="parameters" element="tns:llenar_grid" />
  </wsdl:message>
  <wsdl:message name="llenar_gridSoapOut">
    <wsdl:part name="parameters" element="tns:llenar_gridResponse" />
  </wsdl:message>
  <wsdl:message name="agregarSoapIn">
    <wsdl:part name="parameters" element="tns:agregar" />
  </wsdl:message>
  <wsdl:message name="agregarSoapOut">
    <wsdl:part name="parameters" element="tns:agregarResponse" />
  </wsdl:message>
  <wsdl:message name="actualizarSoapIn">
    <wsdl:part name="parameters" element="tns:actualizar" />
  </wsdl:message>
  <wsdl:message name="actualizarSoapOut">
    <wsdl:part name="parameters" element="tns:actualizarResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarSoapIn">
    <wsdl:part name="parameters" element="tns:eliminar" />
  </wsdl:message>
  <wsdl:message name="eliminarSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarResponse" />
  </wsdl:message>
  <wsdl:message name="buscarSoapIn">
    <wsdl:part name="parameters" element="tns:buscar" />
  </wsdl:message>
  <wsdl:message name="buscarSoapOut">
    <wsdl:part name="parameters" element="tns:buscarResponse" />
  </wsdl:message>
  <wsdl:message name="buscar1SoapIn">
    <wsdl:part name="parameters" element="tns:buscar1" />
  </wsdl:message>
  <wsdl:message name="buscar1SoapOut">
    <wsdl:part name="parameters" element="tns:buscar1Response" />
  </wsdl:message>
  <wsdl:portType name="BDSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mostrar">
      <wsdl:input message="tns:mostrarSoapIn" />
      <wsdl:output message="tns:mostrarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="llenar_grid">
      <wsdl:input message="tns:llenar_gridSoapIn" />
      <wsdl:output message="tns:llenar_gridSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="agregar">
      <wsdl:input message="tns:agregarSoapIn" />
      <wsdl:output message="tns:agregarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizar">
      <wsdl:input message="tns:actualizarSoapIn" />
      <wsdl:output message="tns:actualizarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminar">
      <wsdl:input message="tns:eliminarSoapIn" />
      <wsdl:output message="tns:eliminarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscar">
      <wsdl:input message="tns:buscarSoapIn" />
      <wsdl:output message="tns:buscarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscar1">
      <wsdl:input message="tns:buscar1SoapIn" />
      <wsdl:output message="tns:buscar1SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BDSoap" type="tns:BDSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mostrar">
      <soap:operation soapAction="http://tempuri.org/mostrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="llenar_grid">
      <soap:operation soapAction="http://tempuri.org/llenar_grid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregar">
      <soap:operation soapAction="http://tempuri.org/agregar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizar">
      <soap:operation soapAction="http://tempuri.org/actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminar">
      <soap:operation soapAction="http://tempuri.org/eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscar">
      <soap:operation soapAction="http://tempuri.org/buscar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscar1">
      <soap:operation soapAction="http://tempuri.org/buscar1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BDSoap12" type="tns:BDSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mostrar">
      <soap12:operation soapAction="http://tempuri.org/mostrar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="llenar_grid">
      <soap12:operation soapAction="http://tempuri.org/llenar_grid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregar">
      <soap12:operation soapAction="http://tempuri.org/agregar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizar">
      <soap12:operation soapAction="http://tempuri.org/actualizar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminar">
      <soap12:operation soapAction="http://tempuri.org/eliminar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscar">
      <soap12:operation soapAction="http://tempuri.org/buscar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscar1">
      <soap12:operation soapAction="http://tempuri.org/buscar1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BD">
    <wsdl:port name="BDSoap" binding="tns:BDSoap">
      <soap:address location="https://localhost:44359/BD.asmx" />
    </wsdl:port>
    <wsdl:port name="BDSoap12" binding="tns:BDSoap12">
      <soap12:address location="https://localhost:44359/BD.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>